@import "tailwindcss";

@font-face {
	font-family: "Latha";
	src: url("/fonts/latha.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Vijaya";
	src: url("/fonts/vijaya.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

body {
	--grid-color: rgba(0, 0, 0, 0.1);
  --grid-size: 32px;
  
  background-color: #ffffff;
  background-image: 
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
}

   @keyframes staggerSlideIn {
                    from { 
                        opacity: 0; 
                        transform: translateY(12px); 
                    }
                    to { 
                        opacity: 1; 
                        transform: translateY(0); 
                    }
                }
                .animate-stagger {
                    opacity: 0;
                    animation: staggerSlideIn 0.3s ease-out forwards;
                }
				
@theme {
  --font-tamil: "Vijaya", sans-serif;
}
